@use '../../scss/colors.scss' as *;
@use '../../scss/mixins.scss' ;

.btn{
   background-color: transparent;
   height: 30px;
   width: 70px;
   border: 1px solid $default-color;
   border-radius:4px;
   margin: 0 2%;
   @include mixins.text;
}