@use '../../scss/colors.scss' as *;
@use '../../scss/mixins.scss' ;

.header{
   @include mixins.flex;
   padding: 1% 5%;
   background-color: $black-color;
      &_logo {
      @include mixins.svg;
   }
   &_navigation{

      a{
         @include mixins.text;
         margin: 10px;
      }
   }
   &_search{
      @include mixins.flex;
   }

   }
